0x02-shell_redirections/gif1.gif
0x02-shell_redirections/.emptyfile
0x02-shell_redirections/.b.gif
0x02-shell_redirections/Rona.gif
0x02-shell_redirections/a.gif
0x02-shell_redirections/bbb.gif
0x02-shell_redirections/file1
0x02-shell_redirections/file2
0x02-shell_redirections/jay.gif
0x02-shell_redirections/ls
0x02-shell_redirections/nasa_19950801.tsv
0x02-shell_redirections/test.JS
0x02-shell_redirections/dir.js/fig.gif
0x02-shell_redirections/dir.js/dir2/gif3.gif
0x03-shell_variables_expansions/1
0x03-shell_variables_expansions/6-create_local_variables
0x03-shell_variables_expansions/quote
0x03-shell_variables_expansions/when_you_type_ls_*.c.md
0x04-loops_conditions_and_parsing/.#7-clock
0x04-loops_conditions_and_parsing/size
0x02-shell_redirections/test.JS
0x02-shell_redirections/test.JS
